
  <mat-sidenav-container  class="sidenav" fullscreen #sidenav>
    <mat-sidenav  style='background-color: var(--primary-color);' *ngIf='!hideMenu' #snav mode='side' opened>
      <app-smooth-width  [trigger]='isMenuOpen'>
        <mat-nav-list>
          <div class="navList" id="topList">
            <button class="toolButton" id='toggleButton' mat-icon-button (click)="onToolbarMenuToogle()">
              <mat-icon>menu</mat-icon>
            </button>
            <a class="sidenavItem" id='{{nav.name}}Button' mat-list-item [routerLink]="nav.route" *ngFor="let nav of fillerNav">
              <mat-icon  class='nav-icon'>{{nav.icon}}</mat-icon>
              <span  *ngIf="isMenuOpen">
                {{getTranslationByID(nav.name)}}
              </span>
            </a>
            <button class='toolButton' id='downloadButton'  mat-button (click)="downloadCv()">
              <mat-icon  class='nav-icon'>cloud_download</mat-icon>
              <span  *ngIf="isMenuOpen">
                {{getTranslationByID('38')}}
              </span>
            </button>
          </div>
          <div class="navList" id="botList">
            <button class='toolButton'  id='languagesButton' mat-button [matMenuTriggerFor]='langs'>
              <mat-icon class='nav-icon'>language</mat-icon>
              <span  *ngIf="isMenuOpen">
                {{getTranslationByID('39')}}
              </span>
            </button>
            <mat-menu #langs>
              <div>
                <button mat-menu-item (click)="changeLanguage('ENG')">ENG</button>
                <button mat-menu-item (click)="changeLanguage('ESP')">ESP</button>
                <button mat-menu-item (click)="changeLanguage('CAT')">CAT</button>
              </div>
            </mat-menu>

            <button class='toolButton'  id='musicButton' mat-button [matMenuTriggerFor]='audio'>
              <mat-icon *ngIf='bgm.volume<=0' class='nav-icon'>music_off</mat-icon>
              <mat-icon *ngIf='bgm.volume>0' class='nav-icon'>music_note</mat-icon>
              <span  *ngIf="isMenuOpen">
                {{getTranslationByID('56')}}
              </span>
            </button>
            <mat-menu id='audio' #audio>
              <mat-slider color='primary' [min]="0" [max]="1" [step]="0.01" [value]='bgm_volume' (input)="getSliderTickInterval($event)"></mat-slider>
              <button mat-menu-item (click)="onMuteMusic()">
                <mat-icon *ngIf='bgm.volume<=0' class='nav-icon'>volume_off</mat-icon>
                <mat-icon *ngIf='bgm.volume>0' class='nav-icon'>volume_up</mat-icon>
              </button>
            </mat-menu>

            <button class='toolButton' id='themeButton' mat-button (click)='onToogleDarkMode()'>
              <mat-icon *ngIf='lightMode'  class='nav-icon'>dark_mode</mat-icon>
              <mat-icon *ngIf='!lightMode'  class='nav-icon'>light_mode</mat-icon>
              <span  *ngIf="isMenuOpen">
                {{getTranslationByID('54')}}
              </span>
            </button>

            <button *ngIf='showHideMenuEye' class='toolButton' id='hideButton' mat-button (click)='toogleHideToolBar()'>
              <mat-icon class='nav-icon'>visibility_off</mat-icon>
              <span  *ngIf="isMenuOpen">
                {{getTranslationByID('40')}}
              </span>
            </button>
          </div>
        </mat-nav-list>
      </app-smooth-width>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
