<div class="body">
  <div>
    <h1>{{getTranslationByID('57')}}</h1>
    <h2>{{getTranslationByID('58')}}</h2>
    <div class="buttons">
      <button mat-button routerLink='/cv'>
        <mat-icon>account_box</mat-icon>
        <br>
        <p>{{getTranslationByID('36')}}</p>
      </button>
      <button mat-button routerLink='/portfolio'>
        <mat-icon>work</mat-icon>
        <br>
        <p>{{getTranslationByID('37')}}</p>
      </button>
      <button mat-button (click)="navigateTo('https://github.com/CrowOnslaught?tab=repositories')">
        <i _ngcontent-tmn-c269="" class="fab fa-github-square"></i>
        <br>
        <p>GitHub</p>
      </button>
      <button mat-button (click)="navigateTo('https://www.linkedin.com/in/jaume-garcia-parcerisas/')">
        <i _ngcontent-tmn-c269="" class="fab fa-linkedin"></i>
        <br>
        <p>LinkedIn</p>
      </button>
    </div>
    <p id='signature'>- Jaume Garcia Parcerisas</p>
  </div>
</div>
