<div class="body">
  <header>
    <div>
        <img id="profile" src='../../../../assets/resources/images/Profile_photo.jpg' alt="">
        <div>
            <h1>Jaume Garcia Parcerisas</h1>
            <h2 class="langText" id="text01">{{getTranslationByID('01')}}</h2>
            <p class="langText" id="text02"> {{getTranslationByID('02')}}</p>
        </div>
    </div>
  </header>
  <main>
    <div class="post" id="tech">
        <div class="postTitle">
            <h3 class="langText" id="text03">{{getTranslationByID('03')}}</h3>
            <div></div>
        </div>
        <div>
            <p class="langText subtitle" id="text04">{{getTranslationByID('04')}}</p>
            <div class="devLang">
                <div class="logoBox">
                    <img src='../../../../assets/resources/images/devLangIcons/csharp.png' alt="">
                    <p>C#</p>
                </div>
                <div class="logoBox">
                    <img src='../../../../assets/resources/images/devLangIcons/js.png' alt="">
                    <p>JS</p>
                </div>
                <div class="logoBox">
                    <img src="../../../../assets/resources/images/devLangIcons/css3.png" alt="">
                    <p>CSS</p>
                </div>
                <div class="logoBox">
                    <img src="../../../../assets/resources/images/devLangIcons/html5.png" alt="">
                    <p>HTML</p>
                </div>
            </div>
            <div class="devLang">
                <div class="logoBox">
                    <img src="../../../../assets/resources/images/devLangIcons/nodeJs.png" alt="">
                    <p>NodeJS</p>
                </div>
                <div class="logoBox">
                    <img src="../../../../assets/resources/images/devLangIcons/c++.png" alt="">
                    <p>C++</p>
                </div>
                <div class="logoBox">
                    <img src="../../../../assets/resources/images/devLangIcons/R.png" alt="">
                    <p>R</p>
                </div>
                <div class="logoBox">
                    <img src="../../../../assets/resources/images/devLangIcons/Blueprint.png" alt="">
                    <p>Blueprint</p>
                </div>
            </div>
        </div>
        <div>
            <p class="langText subtitle" id="text05">{{getTranslationByID('05')}}</p>
            <div class="devLang">
                <div class="logoBox">
                    <img src="../../../../assets/resources/images/softwareIcons/GH.png" alt="">
                    <p>GitHub</p>
                </div>
                <div class="logoBox">
                    <img src="../../../../assets/resources/images/softwareIcons/VS.png" alt="">
                    <p>VS</p>
                </div>
                <div class="logoBox">
                    <img src="../../../../assets/resources/images/softwareIcons/PS.png" alt="">
                    <p>PS</p>
                </div>
                <div class="logoBox">
                    <img src="../../../../assets/resources/images/softwareIcons/3Dmax.png" alt="">
                    <p>3Dmax</p>
                </div>
            </div>
        </div>
        <div>
            <p class="langText subtitle" id="text06">{{getTranslationByID('06')}}</p>
            <div class="devLang">
                <div class="logoBox">
                    <img src="../../../../assets/resources/images/engineIcons/unity.png" alt="">
                    <p>Unity</p>
                </div>
                <div class="logoBox">
                    <img src="../../../../assets/resources/images/engineIcons/unreal-engine.png" alt="">
                    <p>UE4</p>
                </div>
            </div>
        </div>
    </div>
    <div class="post" id="soft">
        <div class="postTitle">
            <h3 class="langText" id="text07">{{getTranslationByID('07')}}</h3>
            <div></div>
        </div>
        <div>
            <ul>
                <li>
                    <p class="langText" id="text08">{{getTranslationByID('08')}}</p>
                </li>
                <li>
                    <p class="langText" id="text09">{{getTranslationByID('09')}}</p>
                </li>
                <li>
                    <p class="langText" id="text10">{{getTranslationByID('10')}}</p>
                </li>
                <li>
                    <p class="langText" id="text11">{{getTranslationByID('11')}}</p>
                </li>
                <li>
                    <p class="langText" id="text12">{{getTranslationByID('12')}}</p>
                </li>
                <li>
                    <p class="langText" id="text13">{{getTranslationByID('13')}}</p>
                </li>
            </ul>
        </div>
    </div>
  </main>
  <aside>
    <div class="post" id="experience">
        <div class="postTitle">
            <h3 class="langText" id="text14">{{getTranslationByID('14')}}</h3>
            <div></div>
        </div>
        <div>
            <p class="year">2018 - 2019</p>
            <p class="langText subtitle" id="text15">{{getTranslationByID('15')}}</p>
            <ul>
                <li>
                    <p class="langText" id="text16">{{getTranslationByID('16')}}</p>
                </li>
                <li>
                    <p class="langText" id="text17"><span><strong>Rise of Titans </strong></span>{{getTranslationByID('17')}}</p>
                </li>
                <li>
                    <p class="langText" id="text18"><strong>GiantFox - </strong>GameBCN/MediaPro.</p>
                </li>
            </ul>
        </div>
        <div>
            <p class="year">2017 - 2018</p>
            <p class="langText subtitle" id="text19">{{getTranslationByID('19')}}</p>
            <ul>
                <li>
                    <p class="langText" id="text20">{{getTranslationByID('20')}}</p>
                </li>
                <li>
                    <p class="langText" id="text21"><strong>{{getTranslationByID('21')}}</strong> <span>, Mataró</span></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="post" id="training">
        <div class="postTitle">
            <h3 class="langText" id="text22">{{getTranslationByID('22')}}</h3>
            <div></div>
        </div>
        <div>
            <p class="year">2020 - 2021</p>
            <p class="langText subtitle" id="text23">{{getTranslationByID('23')}}</p>
            <p class="langText" id="text24">{{getTranslationByID('24')}}</p>
        </div>
        <div>
            <p class="year">2014 - 2019</p>
            <p class="langText subtitle" id="text25">{{getTranslationByID('25')}}</p>
            <p class="langText" id="text26">{{getTranslationByID('26')}}</p>
        </div>
        <div>
            <p class="year">2012 - 2014</p>
            <p class="langText subtitle" id="text27">{{getTranslationByID('27')}}</p>
            <p class="langText" id="text28">{{getTranslationByID('28')}}</p>
        </div>
    </div>
  </aside>
  <footer>
    <div class="post" id="languages">
        <div class="postTitle">
            <h3 class="langText" id="text29">{{getTranslationByID('29')}}</h3>
            <div></div>
        </div>
        <ul>
            <li>
                <p class="langText" id="text30"><strong>{{getTranslationByID('30')}} </strong>{{getTranslationByID('31')}}</p>
            </li>
            <li>
                <p class="langText" id="text31"><strong>{{getTranslationByID('32')}} </strong>{{getTranslationByID('31')}}</p>
            </li>
            <li>
                <p class="langText" id="text32"><strong>{{getTranslationByID('33')}} </strong>{{getTranslationByID('34')}}</p>
            </li>
        </ul>
    </div>
    <div class="post" id="contact">
        <div class="postTitle">
            <h3 class="langText" id="text33">{{getTranslationByID('35')}}</h3>
            <div></div>
        </div>
        <ul>
            <li>
                <i class="fas fa-at"></i><a href="mailto:JaumeGarciaParcerisas@Gmail.com">  JaumeGarciaParcerisas@Gmail.com</a>
            </li>
            <li>
                <i class="fab fa-linkedin"></i><a href="https://www.linkedin.com/in/jaume-garcia-parcerisas-32389611b/">  LinkedIn/JaumeGarcia</a>
            </li>
            <li>
                <i class="fab fa-github-square"></i><a href="https://github.com/CrowOnslaught">  GitHub/CrowOnslaught</a>
            </li>

        </ul>
    </div>
  </footer>
</div>

