<div class="body">
  <header>
    <div>
        <img id="profile" src='assets/resources/images/Profile_photo.jpg' alt="">
        <div>
            <h1>Jaume Garcia Parcerisas</h1>
            <h2 class="langText" id="text01">{{getTranslationByID('01')}}</h2>
            <p class="langText" id="text02"> Passionate Frontend Developer with six years of experience specializing in iOS and web development. Focused on creating high-quality, scalable solutions that meet business goals and foster growth. Enthusiastic about engaging with projects and collaborating within teams to drive success.</p>
        </div>
    </div>
  </header>
  <main>
    <div class="post" id="tech">
        <div class="postTitle">
            <h3 class="langText" id="text03">{{getTranslationByID('03')}}</h3>
            <div></div>
        </div>
        <div>
            <ul class="tech-skills-list">
                <li><p class="langText tech-skills-item">SwiftUI/Swift</p></li>
                <li><p class="langText tech-skills-item">XCode</p></li>
                <li><p class="langText tech-skills-item">Apple's Pipeline</p></li>
                <li><p class="langText tech-skills-item">SPM | Pod</p></li> 
                <li><p class="langText tech-skills-item">MVVM | MVC | MVP</p></li>
                <li><p class="langText tech-skills-item">Third-Party API Integration</p></li> 
                <hr>
                <li><p class="langText tech-skills-item">Javascript | TypeScript </p></li> 
                <li><p class="langText tech-skills-item">HTML | CSS | SASS</p></li> 
                <li><p class="langText tech-skills-item">Vue.js</p></li> 
                <li><p class="langText tech-skills-item">Angular.js</p></li>
                <li><p class="langText tech-skills-item">Next.js</p></li> 
                <li><p class="langText tech-skills-item">React.js</p></li>
                <li><p class="langText tech-skills-item">JSON</p></li> 
                <hr>
                <li><p class="langText tech-skills-item">Unit Testing</p></li> 
                <li><p class="langText tech-skills-item">UI Testing</p></li> 
                <li><p class="langText tech-skills-item">Continuous Integration</p></li> 
                <hr>
                <li><p class="langText tech-skills-item">Kotlin</p></li> 
                <li><p class="langText tech-skills-item">Jetpack Compose</p></li>
                <li><p class="langText tech-skills-item">Phyton</p></li> 
                <li><p class="langText tech-skills-item">Django</p></li> 
                <li><p class="langText tech-skills-item">C#</p></li>
                <li><p class="langText tech-skills-item">C++</p></li>
                <li><p class="langText tech-skills-item">Node.js</p> </li>
                <hr>
                <li><p class="langText tech-skills-item">Agile | Scrum</p></li>
                <li><p class="langText tech-skills-item">Github | BitBucket</p></li> 
                <li><p class="langText tech-skills-item">Figma</p></li> 
                <li><p class="langText tech-skills-item">Jira | Trello</p></li> 
                <hr>
                <li><p class="langText tech-skills-item">Unity</p></li>
                <li><p class="langText tech-skills-item">Unreal Engine</p></li>
                <li><p class="langText tech-skills-item">Blueprint</p></li>
                <hr>
            </ul>
        </div>
    </div>
    <div class="post" id="soft">
        <div class="postTitle">
            <h3 class="langText" id="text07">{{getTranslationByID('07')}}</h3>
            <div></div>
        </div>
        <div>
            <ul>
                <li><p class="langText" id="text11">{{getTranslationByID('11')}}</p></li>
                <li><p class="langText" id="text08">{{getTranslationByID('08')}}</p></li>
                <li><p class="langText" id="text09">{{getTranslationByID('09')}}</p></li>
                <li><p class="langText" id="text10">{{getTranslationByID('10')}}</p></li>
                <li><p class="langText" id="text12">{{getTranslationByID('12')}}</p></li>
                <li><p class="langText" id="text13">{{getTranslationByID('13')}}</p></li>
            </ul>
        </div>
    </div>
  </main>
  <aside>
    <div class="post" id="experience">
        <div class="postTitle">
            <h3 class="langText" id="text14">{{getTranslationByID('14')}}</h3>
            <div></div>
        </div>
        <div>
            <p class="langText subtitle" id="text15">BLING (2021-2024)</p>
            <ul>
                <p class="experience-label"><strong>Lead iOS Engineer · 2022-2024</strong></p>
                <li>
                    <p class="langText" id="text16">Spearheaded the development and management of the BLING banking app using SwiftUI and XCode.</p>
                </li>
                <li>
                    <p class="langText" id="text17">Scrum Team Member: Worked collaboratively within a Scrum team, overseeing iOS, web, and supporting the Android project.</p>
                </li>
                <li>
                    <p class="langText" id="text18">Technologies: Utilized MVVM architecture, Jira for project management, Figma for design, and Bitbucket for version control.</p>
                </li>
                <p class="experience-label"><strong>Web Developer · 2021</strong></p>
                <li>
                    <p class="langText" id="text19">Developed company's main product web app, landing page, moderation tool, and related backend endpoints.</p>
                </li>
                <li>
                    <p class="langText">Technologies: Employed JavaScript with Next.js for the frontend and Python with Django for the backend.</p>
                </li>
            </ul>
        </div>
        <div>
            <p class="langText subtitle" id="text20">GiantFox (2018-2019)</p>
            <ul>
                <p class="experience-label"><strong>Junior Game Developer </strong></p>
                <li><p class="langText" id="text21">{{getTranslationByID('16')}}</p></li>
                <li><p class="langText" id="text021"><span><strong>Rise of Titans </strong></span>{{getTranslationByID('17')}}</p></li>
                <li><p class="langText" id="text021"><span><strong>GiantFox - </strong></span>GameBCN/MediaPro.</p></li>
            </ul>
        </div>
    </div>
    <div class="post" id="training">
        <div class="postTitle">
            <h3 class="langText" id="text22">{{getTranslationByID('22')}}</h3>
            <div></div>
        </div>
        <div>
            <p class="langText subtitle" id="text23">{{getTranslationByID('23')}}</p>
            <h3><strong>(2020 - 2021)</strong></h3>
            <p class="langText" id="text24">{{getTranslationByID('24')}}</p>
        </div>
        <div>
            <p class="langText subtitle" id="text25">{{getTranslationByID('25')}}</p>
            <h3><strong>(2014 - 2019)</strong></h3>
            <p class="langText" id="text26">{{getTranslationByID('26')}}</p>
        </div>
    </div>
  </aside>
  <footer>
    <div class="post" id="languages">
        <div class="postTitle">
            <h3 class="langText" id="text29">{{getTranslationByID('29')}}</h3>
            <div></div>
        </div>
        <ul>
            <li>
                <p class="langText" id="text30"><strong>{{getTranslationByID('30')}} </strong>{{getTranslationByID('31')}}</p>
            </li>
            <li>
                <p class="langText" id="text31"><strong>{{getTranslationByID('32')}} </strong>{{getTranslationByID('31')}}</p>
            </li>
            <li>
                <p class="langText" id="text32"><strong>{{getTranslationByID('33')}} </strong>{{getTranslationByID('34')}}</p>
            </li>
        </ul>
    </div>
    <div class="post" id="contact">
        <div class="postTitle">
            <h3 class="langText" id="text33">{{getTranslationByID('35')}}</h3>
            <div></div>
        </div>
        <ul>
            <li>
                <i class="fas fa-at"></i><a target="_blank" rel="noopener noreferrer" href="mailto:JaumeGarciaParcerisas@Gmail.com">  JaumeGarciaParcerisas@Gmail.com</a>
            </li>
            <li>
                <i class="fab fa-linkedin"></i><a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/jaume-garcia-parcerisas-32389611b/">  LinkedIn/JaumeGarcia</a>
            </li>
            <li>
                <i class="fab fa-github-square"></i><a target="_blank" rel="noopener noreferrer" href="https://github.com/CrowOnslaught">  GitHub/CrowOnslaught</a>
            </li>

        </ul>
    </div>
  </footer>
</div>

