@import "../../../shared/scss/variables";
@import "../../../shared/scss/reset";


.body
{
    height: 1100px;
    max-width: 794px;

    font-size: 14px;
    margin: auto;
    margin-top: 50px;
    padding: 0;

    display:grid;
    gap: 8px;
    grid-template-rows: 17% 68% 10%;
    grid-template-columns: 49.5% 49.5%;
    grid-template-areas:
    "a a"
    "b c"
    "d d";

    >header
    {
        grid-area: a;
        background-color: var(--post-bg-color);
        border-radius: 8px;

        display: flex;
        justify-content: center;
        align-items: center;

        >div
        {
          margin: 16px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: justify;

            >img
            {
               object-fit: cover;
               object-position: 0px 0px;

                min-width: 140px;
                height: 140px;
                border-radius: 50%;
                margin-right: 16px;
            }
            >div
            {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                margin-right: 20px;
                >h1
                {
                  font-weight: bold;
                }
            }
        }
    }
    >main, >aside
    {
        width: 392px;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        p.subtitle
        {
            margin-left: 15px;
            font-weight: bold;
            color: var(--primary-color);
            font-size: 18px;
        }
    }
    >main
    {
        grid-area: c;

        >div#tech
        {
            height: 100%;
            margin-bottom: 8px;

            ul.tech-skills-list {
              height: 510px;

              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              flex-wrap: wrap;
              flex-direction: column;
              gap: 4px;

              padding-left: 32px;

              >hr {
                width: 140px; 
                margin-left: -0px;
                border-color: var(--primary-color);

              }

              >li{
                width: 160px;
              }
            }
        }
        >div#soft
        {
            height: 175px;
        }
    }
    >aside
    {
        grid-area: b;
        >div#experience
        {
            height: 100%;
            margin-bottom: 8px;
        }
        >div#training
        {
            height: 215px;
        }

    }
    div.post
    {
        width:392px;
        height: fit-content;
        background-color:var(--post-bg-color);
        border-radius: 8px;

        >div.postTitle
        {
            display: flex;
            margin-bottom: 10px;

            >h3
            {

              white-space: nowrap;
              font-weight: bold;
              font-size: 16px;
              line-height: 18px;
              color: var(--post-title-color);
              background-color: var(--primary-color);
              border-radius: 8px 0 0 0;
              width: fit-content;
              padding-left: 8px;
              padding-right: 16px;
              padding-top: 2px;
              padding-bottom: 2px;
              text-align: left;
              border-bottom: solid 2px var(--primary-color);
            }
            >div:first-of-type
            {
                width: 100%;
                height: auto;
                border-bottom: solid 2px var(--primary-color);

                margin-right: 32px;
            }
      
        }

        div.devLang
        {
            display: flex;
            margin:10px;
            margin-bottom: 15px;
            justify-content: space-around;

            >div.logoBox
            {
                text-align: center;
                >img
                {
                    width: auto;
                    height: 50px;
                }
                p
                {
                    font-size: 14px;
                    font-weight: bold;
                }
            }
        }

        &#experience, &#training
        {

            >div:not(.postTitle)
            {
                display: flex;
                flex-direction: column;
                width: 95%;
                p.year
                {
                    align-self:center;
                    background-color: var(--primary-color);
                    color:var(--post-title-color);
                    font-weight: bold;
                    width: fit-content;
                    padding: 1px 20px 1px 20px;
                    border-radius: 8px;
                    margin-bottom: 5px;
                }
                p.year:first-of-type
                {
                  margin-top: 5px;
                }

                ul {
                  margin-top: 8px;
                  .experience-label {
                    margin-left: -16px;
                    margin-top: 2px;

                    >strong{
                      font-size: 15px;
                    }

                   
                  }

                  li {
                    margin: 1px 0;
                  }
                }
            }
        }
        &#training
        {
            text-align: center;
            >div
            {
                margin-bottom: 10px;
            }

            div:not(.postTitle) {
              h3 {
                font-size: 14px;
              }
            }
        }
    }
    >footer
    {
        grid-area: d;
        width: 100%;
        height: 100%;

        display: flex;
        gap: 8px;
        justify-content: space-around;

        ul
        {
            padding-bottom: 10px;
        }
    }

  @media print
  {
    position: fixed;
    left: 2.5%;
  }

  @media screen
  {

    .onlyPrinting
    {
      display: none;
    }

    @media (max-width:  900px)
    {
      width: 500px;
      max-width: auto;

      grid-template-rows: 40% 65% 61.5% 20%;
      grid-template-columns: 100%;
      grid-template-areas:
        "a"
        "b"
        "c"
        "d";

        @media (max-width:  600px)
        {
          grid-template-rows: 47% 65% 70% 20%;
          width: 300px;
        }

        >header
        {
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            >div
            {
              padding-bottom: 10px;
              flex-direction: column;
              justify-content: space-around;
              align-items: center;

              h1
              {
                font-size: 1.5em;
                text-align: center;

              }
              h2
              {
                text-align: center;
              }
              p
              {
                margin: 0 10px;
              }
            }
        }
        >header, >main, >aside, >footer, div.post
        {
          width: 500px;
          @media (max-width:  600px)
          {
            width: 300px;
          }
        }

        div.post
        {

          >div.postTitle
          {

              >h3
              {
                font-size: 16px;
                width: 50%;
              }
              >div
              {
                  width: 50%;
              }
          }
        }

        >aside
        {
          >div#training
          {
            @media (max-width:  600px)
            {
              height: 360px;
            }
          }
          >div#experience
          {
            height: 350px;
            @media (max-width:  600px)
            {
              height: 400px;
            }
          }
        }

        >footer
        {
            display: inline;
            >div#contact
            {
              li:first-of-type
              {
                @media (max-width:  600px)
                {
                  font-size: 0.9em;
                }
              }
            }
        }
    }
  }
}
