:root
{
  --pc-dark: #99EDC3; 
  --sc-dark: rgb(251, 251, 251);
  --pbc-dark: rgba(57, 58, 56, 0.8);

  --pc-light: DarkGoldenRod;
  --sc-light: Black;
  --pbc-light: rgba(194, 194, 194, 0.7);

  --primary-color : var(--pc-dark);
  --secondary-color: var(--sc-dark);
  --post-bg-color: var(--pbc-dark);
  --post-title-color: rgb(1, 48, 1);
}
