:root
{
  --pc-dark: GoldenRod;
  --sc-dark: LightGoldenRodYellow;
  --pbc-dark: rgba(37, 37, 34, 0.8);

  --pc-light: DarkGoldenRod;
  --sc-light: Black;
  --pbc-light: rgba(194, 194, 194, 0.7);

  --primary-color : var(--pc-dark);
  --secondary-color: var(--sc-dark);
  --post-bg-color: var(--pbc-dark);
}
