<div class="body">
  <div class="post" id='cv'>
    <p> Last Update: Feb 2021</p>
    <p>{{getTranslationByID('52')}}</p>
    <br>
    <br>
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/CrowOnslaught/Curriculum">{{getTranslationByID('53')}}</a>
  </div>
  <div class="post" id='cocktel'>
    <p> Jan 2021</p>
    <video poster="assets/resources/images//videoPreview/cocktel.png" controls muted=true>
      <source src="assets/resources/videos/cocktel.mp4" type="video/mp4">
    </video>
    <h1>The Cocktail App</h1>
    <p>{{getTranslationByID('63')}}</p>
    <br>
    <br>
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/CrowOnslaught/coctel-project">{{getTranslationByID('53')}}</a>
  </div>
  <div class="post" id='rot'>
    <p> Aprl 2018 – Jul 2019</p>
    <video poster="assets/resources/images//videoPreview/rise-of-titans.jpg" controls muted=true>
      <source src="assets/resources/videos/rise-of-titans.mp4" type="video/mp4">
    </video>
    <h1>Rise of Titans - GiantFox</h1>
    <p>{{getTranslationByID('50')}}</p>
    <br>
    <br>
    <a target="_blank" rel="noopener noreferrer" href="https://store.steampowered.com/app/692130/Rise_Of_Titans/">{{getTranslationByID('51')}}</a>
  </div>
  <div class="post" id='ludo'>
    <p>May 2019</p>
    <video poster="assets/resources/images//videoPreview/ludo.png" controls muted=true>
      <source src="assets/resources/videos/ludo-gameplay.mp4" type="video/mp4">
    </video>
    <h1>{{getTranslationByID('41')}}</h1>
    <p>{{getTranslationByID('42')}}</p>
    <br>
    <br>
    <a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1xAF-CezcfRTCYAJDeu2EYL3PZOTBms2m/view?usp=sharing">{{getTranslationByID('47')}}</a>
  </div>
  <div class="post" id='r0gu3'>
    <p>Apr 2017 – Jun 2017</p>
    <video poster="assets/resources/images//videoPreview/code_r0gu3.jpg" controls muted=true>
      <source src="assets/resources/videos/code-r0gu3-stuxnet-release-trailer-2017.mp4" type="video/mp4">
    </video>
    <h1>{{getTranslationByID('45')}}</h1>
    <p>{{getTranslationByID('46')}}</p>
    <br>
    <br>
    <a target="_blank" rel="noopener noreferrer" href="https://mega.nz/file/hMVSCLxK#R6XT-Gw3Hj7UI_iK4MLKGU8PzIHNPz93DRNokd4EdSM">{{getTranslationByID('47')}}</a>
  </div>
  <div class="post" id='dice'>
    <p>Sep 2017 – Oct 2017</p>
    <video poster="assets/resources/images//videoPreview/dice.jpg" controls muted=true>
      <source src="assets/resources/videos/rol-a-die-android-project.mp4" type="video/mp4">
    </video>
    <h1>{{getTranslationByID('43')}}</h1>
    <p>{{getTranslationByID('44')}}</p>
    <br>
    <br>
    <a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/0B9s6FbJgIpIYa0kxMDY3T0ZrMlE/view?usp=sharing">{{getTranslationByID('47')}}</a>
  </div>
  <div class="post" id='continuum'>
    <p>Apr 2016 – Jun 2016</p>
    <video poster="assets/resources/images//videoPreview/theContinuumsSeal.jpg" controls muted=true>
      <source src="assets/resources/videos/the-continuums-seal-release.mp4" type="video/mp4">
    </video>
    <h1>{{getTranslationByID('48')}}</h1>
    <p>{{getTranslationByID('49')}}</p>
    <br>
    <br>
    <a target="_blank" rel="noopener noreferrer" href="https://mega.nz/file/RccAybiJ#RCtjQgdKgigi1hmakqpHydSzvhBLoViOzCY0rHoXEJo">{{getTranslationByID('47')}}</a>
  </div>
</div>
